@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.name {
  font-family: "Dancing Script", cursive !important;
}

@media only screen and (max-width: 600px) {
  .homeTitle {
    font-size: 20px;
  }
}