.title {
  font-family: "Potta One", cursive;
  font-size: 30px;
  background-color: navy;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button,
.like {
  cursor: pointer;
}

.button:hover,
.like {
  color: grey;
}

.like:hover {
  color: red;
}
